body {
  background-color: steelblue;
  color: gold;
  font-size: 3em;
}

#my-button {
  background-color: #d8a1aa;
  font-size: larger;
  border-radius: 32px;
}

#my-button:hover {
  background-color: #8f5a63;
}
